<div class="container d-flex flex-column h-100 py-3">
  <h2>Chat App</h2>

  <div class="form-group">
    <input
      id="name"
      class="form-control"
      [(ngModel)]="name"
      placeholder="username"
      [class.is-invalid]="isNameInvalid"
    />
  </div>

  <div class="flex-fill my-4" style="overflow-y: scroll">
    <div *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div *ngIf="failed">
      <div class="alert alert-danger" role="alert">Loading Chat Failed.</div>
    </div>

    <div
      *ngIf="!loading && !failed && messages.length == 0"
      class="text-secondary"
    >
      No chat yet, be the first to send one!
    </div>

    <div *ngFor="let message of messages">
      <p>
        <span class="pe-2 fw-bold" [style.color]="message.color"
          >{{message.name}}</span
        >
        {{message.content}}
      </p>
    </div>
  </div>

  <div class="d-flex">
    <div class="form-group flex-fill">
      <input
        id="content"
        class="form-control"
        [(ngModel)]="content"
        placeholder="Say Hello!"
      />
    </div>

    <div class="ps-3">
      <button
        class="btn btn-success"
        (click)="onSend()"
        [disabled]="loading || failed"
      >
        Send
      </button>
    </div>
  </div>
</div>
